<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/admin/style.css">
</head>
<body>
    <%-include('../../partials/admin/header.ejs');%>
   
    <section id="left">
        <div class="container">
            <div class="row">
                <%-include('../../partials/admin/left.ejs');%>
                <div class="col-md-9">
                    <h2 class="text-center text-primary">Parking Data Insert</h2>

                    <form action="/admin/parkingrecords" method="post">
                        <label for="" class="form-label">Vehicle Number:</label>
                        <input type="text" name="vn" id="" class="form-control">

                        <label for="" class="form-label">Vehicle Type:</label>
                        <select name="vtype" id="" class="form-select">
                            <option value="two">Two Vehicle</option>
                            <option value="three">Three Vehicle</option>
                            <option value="four">Four Vehicle</option>
                            <option value="other">Others</option>
                        </select>

                        <!-- <label for=""  class="form-label">In Time:</label>
                        <input type="text" name="intime" id="" class="form-control"> -->
                            <label for="" class="form-label">Receipt No.</label>
                            <input type="text" name="rp" id="" class="form-control">

                        <button type="submit" class="btn btn-success form-control mt-3">Enter</button>

                    </form>

                </div>
            </div>
        </div>
    </section>
   

   

   <%- include('../../partials/admin/footer.ejs')%>
</body>
</html>