
    
 <div class="col-md-3">
    <a href="/admin/banner"><button class=" btn btn-info form-control mt-1">Banner page</button></a>
    <a href="/admin/contact"><button class=" btn btn-info form-control mt-1">Contact Query Page</button></a>
    <a href="/admin/address"><button class=" btn btn-info form-control mt-1">Address Page</button></a>
    <a href="/admin/registration"><button class=" btn btn-info form-control mt-1">Registration Page</button></a>
    <a href="/admin/testi"><button class=" btn btn-info form-control mt-1">Testinorminal Page</button></a>
    <a href="/admin/parking"><button class=" btn btn-info form-control mt-1">Parking Page</button></a>

 </div>
                
    
   

