<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Image form upload</h2>
    <form action="/uploadimg" method="post" enctype="multipart/form-data">    <!--here enctype is used to send Image in small packets-->
        <input type="file" name="img" id="">
        <button type="submit">Uplaod</button>
    </form>
</body>
</html>